services:
  app:
    build: ./app
    restart: unless-stopped
    networks:
      - web-net
  caddy:
    image: caddybuilds/caddy-cloudflare:latest
    restart: unless-stopped
    networks:
      - web-net
    ports:
      - "80:80"
      - "443:443"
    environment:
      - APP_DOMAIN=${APP_DOMAIN}
      - SSL_EMAIL=${SSL_EMAIL}
      - CF_API_TOKEN=${CF_API_TOKEN}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:

networks:
  web-net:
    driver: bridge
